<%= form_with(url: predictions_path, local: true) do |form| %>
  <% @pool.matches.each do |match| %>
    <%= hidden_field_tag "prediction[pool_id][]", @pool.id %>
    <%= hidden_field_tag "prediction[match_id][]", match.id %>

    <div>
      <label>Match: <%= "#{match.home_team} vs #{match.away_team}" %></label>
    </div>

    <div>
      <label>Home Team Score</label>
      <%= number_field_tag "prediction[home_team_score][]" %>
    </div>

    <div>
      <label>Away Team Score</label>
      <%= number_field_tag "prediction[away_team_score][]" %>
    </div>
  <% end %>

  <%= form.submit "Submit Predictions" %>
<% end %>
