<div id="<%= dom_id pool %>">
  <p>
    <strong>Title:</strong>
    <%= pool.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pool.description %>
  </p>

  <p>
    <strong>Raffle winner:</strong>
    <%= pool.raffle_winner %>
  </p>

  <p>
    <strong>Isstarted:</strong>
    <%= pool.isStarted %>
  </p>

  <p>
    <strong>Isfinished:</strong>
    <%= pool.isFinished %>
  </p>

  <p>
    <strong>Prize:</strong>
    <%= pool.prize %>
  </p>

  <p>
    <strong>User:</strong>
    <%= pool.user_id %>
  </p>

</div>
