<h1>Current Round Matches</h1>

<% if @matches.present? %>
  <ul>
    <% @matches.each do |match| %>
      <li>
        <strong><%= match.date.in_time_zone('America/Mexico_City').strftime("%d %b %Y %H:%M").dig("teams", "home", "name") %> vs <%= match.date.in_time_zone('America/Mexico_City').strftime("%d %b %Y %H:%M").dig("teams", "away", "name") %></strong><br>
        Date: <%= match.date.in_time_zone('America/Mexico_City').strftime("%d %b %Y %H:%M").dig("fixture", "date") %><br>
        Venue: <%= match.date.in_time_zone('America/Mexico_City').strftime("%d %b %Y %H:%M").dig("fixture", "venue", "name") %>, <%= match.date.in_time_zone('America/Mexico_City').strftime("%d %b %Y %H:%M").dig("fixture", "venue", "city") %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No matches found for the current round.</p>
<% end %>