<!DOCTYPE html>
<html>
<head>
  <title>FootballPool</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <% flash.each do |key, message| %>
    <div class="flash <%= key %>">
      <span class="flash-message"><%= message %></span>
      <button class="flash-close" onclick="this.parentElement.style.display='none';">✖</button>
    </div>
  <% end %>

  <%= yield %>
</body>
</html>
