<!DOCTYPE html>
<html>
<head>
  <title>🏟️ Futbol Desde el Palco - Participa y Gana con tus Quinielas de Fútbol</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Meta tags para SEO -->
  <meta name="description" content="Participa en quinielas de fútbol y gana dinero prediciendo los resultados de los partidos. ¡Únete a la diversión y compite con otros aficionados!">
  <meta name="keywords" content="quinielas de fútbol, ganar dinero, predicciones de fútbol, competir en quinielas, Futbol Desde el Palco">
  <meta name="robots" content="index, follow">

  <!-- Meta tags para Open Graph (Facebook) -->
  <meta property="og:title" content="🏟️ Futbol Desde el Palco - Participa y Gana con tus Quinielas de Fútbol">
  <meta property="og:description" content="Participa en quinielas de fútbol y gana dinero prediciendo los resultados de los partidos. ¡Únete a la diversión y compite con otros aficionados!">
  <meta property="og:image" content="URL_DE_TU_IMAGEN_DE_COMPARTIR">
  <meta property="og:url" content="https://www.futboldesdeelpalco.com">
  <meta property="og:type" content="website">

  <!-- Meta tags para Twitter Cards -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="🏟️ Futbol Desde el Palco - Participa y Gana con tus Quinielas de Fútbol">
  <meta name="twitter:description" content="Participa en quinielas de fútbol y gana dinero prediciendo los resultados de los partidos. ¡Únete a la diversión y compite con otros aficionados!">
  <meta name="twitter:image" content="URL_DE_TU_IMAGEN_DE_COMPARTIR">
  <meta name="twitter:site" content="@TuCuentaDeTwitter">

  <!-- Link canonical -->
  <link rel="canonical" href="https://www.futboldesdeelpalco.com">

  <!-- Favicon light mode -->
  <link rel="icon" type="image/x-icon" href="<%= asset_path('favicon-light.ico') %>" media="(prefers-color-scheme: light)">
  <!-- Favicon dark mode -->
  <link rel="icon"type="image/x-icon" href="<%= asset_path('favicon-dark.ico') %>" media="(prefers-color-scheme: dark)">

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Meta Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '2642334662614040');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=2642334662614040&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Meta Pixel Code -->
</head>
<body>
  <% flash.each do |key, message| %>
    <div class="flash <%= key %>">
      <span class="flash-message"><%= message %></span>
      <button class="flash-close" onclick="this.parentElement.style.display='none';">✖</button>
    </div>
  <% end %>

  <%= yield %>
</body>
</html>
